@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    font-family: 'Montserrat';
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat-Black';
}

h2{
    font-weight: bolder;
    font-size: 3rem;
}

h3{
    font-size: 1.5rem;
    font-weight: bold;
}

p{
    color: #8f8f8f;
}


/* HEADINGS */
.title{
    font-family: "Montserrat-Black";
    font-size: 3rem;
    line-height: 1.5;
    color: #fff;
}


#title{
    background-color: #ff4c68;
}

.container-fluid{
    padding: 3% 15% 7%;
}

.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
   font-family: 'Ubuntu' , sans-serif;
   font-size: 2.5rem;
   font-weight: bold;
}

.nav-item{
    padding-left: 18px;
    padding-right: 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat-Light' , sans-serif;
}

.download-button{
    margin: 5% 3% 5% 0%;
}

.dog-model{
    width: 19%;
    transform: rotate(25deg);   
    position: absolute;
    margin-left: 6rem;
}


/* FEAUTERS SECTION */

#features{
    background-color: #fff;
    padding: 7% 15%;
    position: relative;
}



.circle-check-icon{
    cursor: pointer;
    color: #ef8172;
    margin-bottom: 1rem; 
}

.circle-check-icon:hover{
    color: #ff4c68;
    cursor: pointer;
}

.bulls-eye-icon{
    color: #ef8172;
    cursor: pointer;
    margin-bottom: 1rem;
}

.bulls-eye-icon:hover{
 color:  #ff4c68;
 cursor: pointer;
}

.heart-icon{
    color: #ef8172;
    cursor: pointer;
    margin-bottom: 1rem;
}

.heart-icon:hover{
 color:  #ff4c68;
 cursor: pointer;
}


.feautre-box{
    text-align: center;
    padding: 5%;
}



/* TESTIMONAILS SECTION */

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image{
    width:10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
}

.carousel-item{
    padding: 7% 15%;
}

.press-logo{
    width: 15%;
    margin:20px 20px 50px;
}

/* PRICING SECTION */
#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
} 

#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
}

.cta-intro{
    color: #fff;
    margin-bottom: 3rem;
    font-family: 'Montserrat-Bold';
    font-size: 3.5rem;
    line-height: 1.5;
}

#footer{
    text-align: center;
    background-color: #fff;
    padding: 7% 15%;
}

.social-icon{
    margin: 20px 10px;
}

/* MOBILE-RESPONSIVITY */

@media (max-width:1020px) {
     
    #title{
        text-align: center;
    }

    .dog-model{
        width: 60%;
        position: static;
    }
}